html,
body {
  width: 100vw;
  height: 100vh;
  margin-left: 150px;
}

/*Задаём глобальные параметры*/
body {
  background: black;
}

/*Делаем границу вокруг игрового поля*/
canvas {
  border: 1px solid white;
}

